<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon" [style]="'--background-color: '+customerDetail.color+';'">
                            <i class="material-icons">content_paste</i>
                        </div>
                        <h4 class="card-title">Registrar Usuario Admin cliente</h4>
                    </div>
                    <div class="card-body ">
                        <app-customer-graphs *ngIf="usersData.user.idrol ==  eventList.idRolAdminClients"></app-customer-graphs>
                        <app-graphics-admin *ngIf="usersData.user.idrol == eventList.idRolAdmin"></app-graphics-admin>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>