<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon" [style]="'--background-color: '+customerDetail.color+';'">
                            <i class="material-icons">note_add</i>
                        </div>
                        <h4 class="card-title">Registro de incidentes</h4>
                    </div>
                    <!-- FORMULARIO -->
                    <div class="card-body">
                        <form class="form" [formGroup]="form" (ngSubmit)="saveData(form.value)">
                            <div class="row">
                                <div class="col-6">
                                    <!--NOMBRE-->
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nombre del incidente</mat-label>
                                        <input matInput class="form-control" type="text" placeholder="Ingresa el nombre del incidente" formControlName="nameEvents" autocomplete="off">
                                        <mat-icon>person</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="active">
                                            <mat-option *ngFor="let item of portatil" [value]="item.valor" [style]="'--background-color:'+customerDetail.color+' !important;'">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon>computer</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-12 card-footer ">
                                <button mat-mini-fab type="submit" [disabled]="form.invalid" class="btn btn-fill btn-rose">
                                  <ng-container *ngIf="registerId; else elseTemplate">
                                    Realizar registro
                                  </ng-container>
                                  <ng-template #elseTemplate>
                                    Editar registro
                                  </ng-template>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- TABLA DE REGISTROS -->
            <div class="col-md-12" *ngIf="listUser.length != 0">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon" [style]="'--background-color: '+customerDetail.color+';'">
                            <i class="material-icons">note_add</i>
                        </div>
                        <h4 class="card-title">Tabla de Registro</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource">
                                <!-- Name Column -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef>Id</th>
                                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                </ng-container>
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Nombre de incidentes</th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                                <!-- Active Column -->
                                <ng-container matColumnDef="active">
                                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                                    <td mat-cell *matCellDef="let element">
                                        <strong *ngIf="element.active"> Activo</strong>
                                        <strong *ngIf="!element.active"> Inactivo</strong>
                                    </td>
                                </ng-container>
                                <!-- Fecha de registro Column -->
                                <ng-container matColumnDef="accion">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                                    <td class="td-actions text-center ajust" mat-cell *matCellDef="let row">
                                        <button mat-raised-button type="button" class="btn btn-success" (click)="routeList(row)">
                                            <i class="material-icons">edit</i>
                                      </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleccionar página de registro"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>